/* Load External Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* General Styling */
:root {
  --primary-color: #E509FF;
  --max-width: 1280px;
}

/* Utilities */
.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}
