/* External Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #BFDBCF;
}

body, html {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
