.background, .overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.background {
  background-image: url('../../../assets/images/pineapple-supply-co-qWlkCwBnwOE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  z-index: -2;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.45);
  z-index: -1;
}
